<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>EazzyShop</name>
    <description>
        A point of Sale Application
    </description>
    <author email="support@phonegap.com" href="http://qet.co.ke">
       QET Systems Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
    <access origin="http://qet.co.ke*"/>
</widget>
